.navbar {
  background: #9f9d9d;
  width: auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.navbar a {
  text-decoration: none;
  margin-right: 1rem;
}

.navbar a:hover {
  color: #f00;
}